html, body, #App, #root {
  perspective: 2000px;
  height: 100%;
}
#App {
  background: radial-gradient(circle, #f6afc9 43%, transparent 0) 0 0 / 4em 4em , 
  radial-gradient(circle, #f6afc9 43%, transparent 0) 2em 2em / 8em 8em;
  background-color: #ffeafe;
  animation: pulse 3s linear infinite;
}
.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  50% {background-position: 0.66em 0.66em, -0.33em -0.33em;}
  100% {
      background-size: 8em 8em, 4em 4em;
      background-position: -1.5em -1.5em, -1em -1em;
  }
}